<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<appSettings>

  <!-- Dont forget to give security access to current folder -->
  <add key="FOLDER_EOD_AK" value="F:\\KBI\\RptEOD\\AK\\" />
  <add key="FOLDER_EOD_ALL" value="F:\\KBI\\RptEOD\\All\\" />
  <add key="FOLDER_UPLOAD" value="F:\\KBI\\dokumen\\upload\\" />

  <add key="FOLDER_INVOICE_MONTHLY" value="F:\\KBI\\MonthlyMembership"/>
  <add key="FOLDER_INVOICE_ANNUAL" value="F:\\KBI\\AnnualMembership"/>
  <add key="FOLDER_INVOICE_FEE" value="F:\\KBI\\FeeClearing"/>
  <add key="FOLDER_DOCUMENT" value="F:\\Document\\"/>
  <add key="FOLDER_DOCUMENT_UPLOAD" value="F:/Document/Upload/"/>
  <add key="FOLDER_INVOICE_MEMBERSHIP" value="F:\\KBI\\Membership"/>
  <add key="FOLDER_QRCODE" value="F:\\KBI\\QRCode"/>

  <!-- Reporting Services -->
  
  <!-- Kbi PRD -->
  <add key="REPORT_SERVER" value="http://10.15.2.60/ReportServerEOD" />
  <add key="REPORT_SERVER_USERNAME" value="Administrator" />
  <add key="REPORT_SERVER_PASSWORD" value="Jakarta01" />
  <add key="REPORT_SERVER_DOMAIN" value="" />

  <!-- Generate Type (ex:PDF,EXCEL,CSV) -->
  <add key="EOD_GENERATE_TYPE" value="PDF" />
  <add key="EOD_GENERATE_TYPE_AK" value="PDF" />
  <add key="EOD_GENERATE_TYPE_ALL" value="EXCEL" />
  
  <!-- MSMQ Setting -->
  <add key="MSMQ_PRIMER" value="10.10.10.78\private$\skd.premargining_primer" />
  <add key="MSMQ_SPA" value="10.10.10.78\private$\skd.premargining_spa" />

  <add key="PJK_BASE_URL" value="http://website-pkj.ap-southeast-1.elasticbeanstalk.com/test" />
  <add key="PJK_ACCESS_TOKEN" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VySWQiOjMsInVzZXJuYW1lIjoia2xpcmluZ0Bwa2ouaWQiLCJ1c2VyZ3JvdXAiOiJrbGlyaW5nIiwiZmlyc3ROYW1lIjoiS2xpcmluZyIsImxhc3ROYW1lIjoiUEtKIiwiZW1haWwiOiJrbGlyaW5nQHBrai5pZCIsImltYWdlIjpudWxsLCJpc0FjdGl2ZSI6dHJ1ZSwiYWN0aXZhdGlvbkNvZGUiOm51bGwsInJlc2V0Q29kZSI6bnVsbCwiY3JlYXRlZEF0IjoiMjAxNi0xMi0yN1QxOToyODo1NS4wMDBaIiwidXBkYXRlZEF0IjoiMjAxNi0xMi0yN1QxOToyODo1NS4wMDBaIiwiaWF0IjoxNDgzNjkwMjYxfQ.bxBwnst-c5UN5WN0XLJO28bNxWqlaxVslZPsR4-QLaw" />
  <add key="PKJ_USERNAME" value="kliring@pkj.id" />
  <add key="PKJ_PASSWORD" value="tebet2016" />
  <add key="MAX_TOTAL_ERROR" value="5" />

  <add key="mysql_host" value="10.15.2.60"/>
  <add key="mysql_port" value="3306"/>
  <add key="mysql_username" value="hasto"/>
  <add key="mysql_password" value="Jakarta01"/>
  <add key="mysql_database" value="bgrkbi"/>

  <add key="sqlserv_datasource" value="10.15.2.60"/>
  <add key="sqlserv_username" value="sa"/>
  <add key="sqlserv_password" value="P@ssw0rd2019"/>
  <add key="sqlserv_database" value="TIN_KBI"/>
  <add key="sqlserv_database_kbi" value="TIN_KBI"/>
  <add key="sqlserv_database_bbj" value="TIN_BBJ_Staging"/>
</appSettings>